@media (min-device-width: 0px)
{
    /* body{
        background-color: yellow;
    } */
.Navi{
  visibility: hidden;
}
.Navi1{
  visibility: visible;
}
.Baner p{
  visibility: hidden;
}
.Baner div{
  visibility: hidden;
}
}
@media (min-device-width: 1173px)
{
    /* body{
        background-color: #ccc;
    } */
    .Navi{
      visibility: visible;
    }
    .Navi1{
      visibility: hidden;
    }
    .Baner p{
      visibility: visible;
    }
    .Baner div{
      visibility: visible;
    }
}
li{
  background-color: white;
  width: 100px;
}
.inline-flex-container
{
    display: inline-flex;
} 



#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  margin-left: 5%;
  margin-top: -6px;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 180px;
  height: 200px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.Navi{
    height: 10px;
    width: 100%;
    display: flex;
  }
  .p2{
    width: 90px;
    text-decoration: none;
    margin-left: 1%;
  }
  .Navi  img{
    margin-left: 15%;
  }
  .p1{
    width: 20px;
  }
  .Navi p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    margin-top: 12px;
  }
  .Navi a{
    text-decoration: none; 
    color: black;
  }
  .Navi p a:hover{
    text-decoration: none; 
    color: red;
  }
  .loga{
    margin-left: 15%;
  }
  .Navi1{
    height: 100px;
    width: 100%;
    display: flex;
    padding-left: 8%;
    margin-top: -10px;
  }
  .Navi1 p{
    font-size: 28px;
    margin-left: -270%;
    margin-top: 4px;

  }
  .Navi3
  {
    margin-left: auto;
    margin-right: auto;
  }




  .baner p{
    font-size: 50px;
    margin-top: 5%;
    margin-left: -80%;
    font-weight: 800;
}
.baner{
    width: 100%;
    height: 100%;
    display: inline-flex;
background-size: cover;

}
.auto{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .auto div{
    text-align: center;
    width:16em;
    height: 10em;
    margin-left: 0em;
  }
  .auto2{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
  }
  .auto2 a{
    text-decoration:none;
    color: black;
  }
  .auto2 svg{
  margin-left: 5.5em;
  }
  .audi-button
  {
    height: 3em;
    padding: 2%;
    width: 14em;
  }
  .auto2 p{
    margin-top: -6em;
  }
  .baner1{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  
  }
  .baner1 h2{
    margin-left: auto;
  margin-right: auto;
  font-size: 66px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  }
  .baner1 p{
    width: 50%;
    margin-left: auto;
  margin-right: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  }
  .baner9{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
  .baner9 div{
    width: 70%;
  margin-left: auto;
  margin-right: auto;
  }
  .baner9 h2{
   font-size: 42px;
  }
  .div1{
    width: 80%;
    text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  padding-top: 4em;
  }
  .div1 h2{
    font-size: 42px;
    color: white;
  }
  .div1 p{
  margin-top: -1em;
  color: white;
  }
  .baner10{
    width: 100%;
    background-color: black;
  }
  .div2{
    padding-top: 4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .div3{
    width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  }






  .end{
    margin-top: 1em;
    width: 100%;
    height: 20em;
    background-color: black;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .end a{
    text-decoration:none;
    color: white;

  }
  .end p{
    text-decoration:none;
    color: white;
    margin-top: -5em;
  }
  .end svg{
    margin-left: 2em;
  }